<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Type</title>
</head>
<body>
<h3>Update Type</h3>
<div th:replace="/layout :: head"></div>
<div id="form">
    <form th:action="@{/type/update/{id}(id=${type.id})}" th:object="${type}" method="post">
        <div>
            <label for="name">Type Name:</label>
            <input type="text" id="name" th:field="*{name}" required/>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Type Name Error</p>
        </div>
        <div>
            <input type="submit" value="Save Changes"/>
        </div>
    </form>
</div>
<a th:href="@{/type}" style="background-color: #808080; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">
    &#8592;
</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
